<button type="button" class="btn btn-success" data-toggle="modal" data-target="#uploadModal">Upload file</button>

<!-- Modal -->
<div id="uploadModal" class="modal fade" data-backdrop="static" role="dialog" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <!-- Form -->
      <%= form_for group, :html => { :multipart => true }, :url => {:action => "import"}, :method => "post" do |f| %>
        <div class="modal-header">
          <!-- close modal button -->
          <!-- prevent the user from closing the modal when import is in progress -->
          <%= f.button "&times;".html_safe, class: "close", id: "modal-close-button", "data-dismiss": "modal", data: { disable_with: "&times;".html_safe } %>
          <!-- modal header -->
          <h4 class="modal-title">File upload form</h4>
        </div>
        <div class="modal-body">
            Select file : <input type='file' name='file' id='file' class='form-control' accept=".csv" ><br>
            <%= f.submit type: "submit", class: "btn btn-info", id: "btn-upload", value: "Upload", disabled: true, data: { disable_with: "Please wait..." } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- enable the upload button when a file is selected -->
<script>
    $(document).ready(
        function(){
            $('input:file').change(
                function(){
                    if ($(this).val()) {
                        $('#btn-upload').attr('disabled',false);
                    }
                }
            );
        });
</script>
