<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#uploadModal">Upload file</button>

<!-- Modal -->
<div id="uploadModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">File upload form</h4>
      </div>
      <div class="modal-body">
        <!-- Form -->
        <%= form_for group, :html => { :multipart => true }, :url => {:action => "import"}, :method => "post" do |f| %>
          Select file : <input type='file' name='file' id='file' class='form-control' accept=".csv" ><br>
          <%= f.submit type: "submit", class: "btn btn-info", id: "btn-upload", value: "Upload", disabled: true %>
        <% end %>

      </div>

    </div>

  </div>
</div>

<!-- enable the upload button when a file is selected -->
<script>
    $(document).ready(
        function(){
            $('input:file').change(
                function(){
                    if ($(this).val()) {
                        $('#btn-upload').attr('disabled',false);
                    }
                }
            );
        });
</script>
