<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <h2>Groups</h2>
    <%= render "shared/table/table_search", item_class: Group, search_term: @search_term %>
    <%= render "shared/table/new_button", item_class: Group %>
    <%= render "shared/table/table", items: @groups, item_class: Group, columns: @columns, search_term: @search_term %>
  </div>
</div>
