<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand navbar-primary" href="/">Meetup</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% menu_items.each do |menu_item| %>
          <li class="<%= current_page?(polymorphic_path(menu_item)) ? 'nav-item active' : 'nav-item'%>">
            <%= link_to menu_item.to_s.pluralize, polymorphic_path(menu_item), :class => 'nav-link primary'  %>
          </li>
        <% end if defined? menu_items %>
      </ul>
    </div>
  </div>
</nav>
