<h1>New Engagement</h1>

<%= render 'form', engagement: @engagement %>

<% if @engagement.group  %>
  <%= render "shared/back_button", path: edit_group_path(@engagement.group) %>
<% else %>
  <%= render "shared/back_button", path: new_group_path %>
<% end %>
